<div class="card mb-0">
  <div class="card-header">
    <div class="" role="group" aria-label="Button group">
      <a class="btn btn-outline-secondary mt-0" data-toggle="tooltip" title data-original-title="Create new view" data-action="add_document">
        <i class="icon-doc "></i>
      </a>
      <a class="btn btn-outline-secondary mt-0" data-toggle="tooltip" title data-original-title="Delete selected view" data-action="delete_multiple">
        <i class="icon-trash"></i>
      </a>
    </div>
  </div>

<div class="card-body row">
  <% if(views.length <1) {%>
    <div class="alert alert-info col-12" role="alert">
        <i class="fa fa-info-circle"></i> No view available
    </div>
  <% } %>

  <% views.forEach((view)=>{ %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-header px-3 py-2">
          <i class="fa fa-desktop"></i>
          <%= view.title %>
            <div class="btn-group float-right">
              <a class="btn btn-sm  mt-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-options-vertical"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(31px, 23px, 0px); top: 0px; left: 0px; will-change: transform;">
                <div class="dropdown-header text-center">
                  <strong>Options</strong>
                </div>
                <a class="dropdown-item" href="javascript:void(0)" data-action="edit_document"  data-id="<%= view.id %>" >
                  <i class="fa fa-edit"></i> Edit</a>
                <a class="dropdown-item" href="javascript:void(0)" data-action="restore_document"  data-id="<%= view.id %>" >
                  <i class="fa fa-undo"></i> Restore last backup</a>
                <a class="dropdown-item" href="javascript:void(0)" data-action="delete_document" data-id="<%= view.id %>">
                  <i class="fa fa-trash"></i> Delete</a>
              </div>
            </div>
        </div>
        <div class="card-body p-3 clearfix align-middle">
          <i class="fa fa-<%= view.icon %> bg-primary p-3 font-2xl mr-3 float-left"></i>
          <div class="text-muted font-xs">
            C :
            <%= moment(view.createdAt).format('DD MMM YYYY HH:mm:ss') %>
              <br> U :
              <%= moment(view.updatedAt).format('DD MMM YYYY HH:mm:ss') %>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
</div>


<script>
    document.addEventListener('DOMContentLoaded', fn, false);
    function fn(){}
</script>
